@using System.Text
@using HtmlAgilityPack
@model IEnumerable<Redbone.Models.Post>;

@{
    ViewData["Title"] = "Recent";
}

@functions
{
    static string GetTextFromHtmlString(string html)
    {
        var document = new HtmlDocument();
        document.LoadHtml(html);
        
        var builder = new StringBuilder();

        foreach(var node in document.DocumentNode.SelectNodes("//text()"))
            builder.Append(node.InnerText);

        return builder.ToString().Replace("&nbsp;", string.Empty);
    }

    static string SkipString(string content)
    {
        string shortenContent;

        if (content.Length > 200)
            shortenContent = content[..200] + "...";
        else
            shortenContent = content;

        return shortenContent;
    }
}

<hgroup data-aos="fade-in">
    <h2>모든 글</h2>
    <h3>제가 올린 모든 글을 모아두었습니다.</h3>
</hgroup>

@if (Model == null)
{
    <p>등록된 글이 없습니다.</p>
}
else
{
    foreach (var item in Model)
    {
        <article data-aos="fade-in">
            <hgroup>
                <h2><a href="/@item.Id">@item.Title</a></h2>
                <h3>@SkipString(GetTextFromHtmlString(item.Content))</h3>
            </hgroup>
            
            <hr/>
            
            <small>@DateTimeOffset.FromUnixTimeSeconds(item.Date).ToString("yyyy-MM-dd HH:mm")</small>
        </article>
    }
}

<div>
    <a href="@ViewBag.PreviousPage" role="button" class="outline"><i class="bi bi-arrow-left"></i> 앞으로</a>
    <a href="@ViewBag.NextPage" role="button" class="outline">뒤로 <i class="bi bi-arrow-right"></i></a>
</div>

@section Styles {
    <link rel="stylesheet" href="~/assets/css/recent.css">
}