@using System.Diagnostics

@{
    ViewData["Title"] = "Panel";
}

<hgroup data-aos="fade-in">
    <h2>관리자 패널</h2>
    <h3>관리에 필요한 도구와 정보를 모아두었습니다.</h3>
</hgroup>

<div data-aos="fade-in">
    <hgroup>
        <h3>비밀번호 해시 생성</h3>
        <h4>로그인시 비밀번호 인증을 위해 필요한 해시를 생성합니다.</h4>
    </hgroup>
    
    <article>
        @using (Html.BeginForm("Index", "Panel", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            
            <label for="password" data-aos="fade-in">
                해시를 생성할 비밀번호
                <input type="password" id="password" name="Password" placeholder="비밀번호" required>
            </label>
            
            <br/>
            
            <input type="submit" value="생성" data-aos="fade-in"/>           
        }
    </article>
</div>

<div data-aos="fade-in">
    <hgroup>
        <h3>구동 환경</h3>
        <h4>프로그램이 돌아가고 있는 환경에 대한 정보입니다.</h4>
    </hgroup>
    
    <article>
        <p>· Architecture: <code>@System.Runtime.InteropServices.RuntimeInformation.OSArchitecture</code></p>
        <p>· Base Directory: <code>@AppDomain.CurrentDomain.BaseDirectory</code></p>
        <p>· Domain: <code>@Context.Request.Host</code></p>
        <p>· Dotnet Version: <code>@System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription</code></p>
        <p>· Runtime: <code>@System.Runtime.InteropServices.RuntimeInformation.RuntimeIdentifier</code></p>
        <p>· SSL: <code>@Context.Request.IsHttps</code></p>
        <p>· System: <code>@System.Runtime.InteropServices.RuntimeInformation.OSDescription</code></p>
        <p>· Uptime: <code>@(DateTime.Now - Process.GetCurrentProcess().StartTime)</code></p>
    </article>
</div>

<hr/>
<br/>

<a role="button" class="secondary" href="/panel?logout=true" data-aos="fade-in">
    <i class="bi bi-box-arrow-in-left"></i> 로그아웃
</a>

@{
    if (!string.IsNullOrWhiteSpace(ViewBag.Message))
    {
        <script>
            swal({
                title: "성공!",
                text: "@Html.Raw(ViewBag.Message)",
                icon: "success",
                buttons: {
                  cancel: "확인"
                }
            });
        </script>
    }
}

@section Styles {
    <link rel="stylesheet" href="~/assets/css/panel.css">
}

@section PreloadScripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}